<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="UBSDirectOrders"
             connectionString="Data Source=apps01; Initial Catalog=UBSDirectOrders; User Id=sa; Password=UbElas1+;"
             providerName="System.Data.SqlClient" />
    <add name="UBS_PROD"
    connectionString="Data Source=SQL01; Initial Catalog=UBS_PROD; User Id=sa; Password=ubsPass1;"
    providerName="System.Data.SqlClient"/>
    <add name="ubsInterimTestDB"
            connectionString="Data Source=sql01; Initial Catalog=ubsInterimTestDB; User Id=sa; Password=ubsPass1"
            providerName="System.Data.SqlClient"/>
    <add name="UBS_PROD"
   connectionString="Data Source=SQL01; Initial Catalog=UBS_PROD; User Id=sa; Password=ubsPass1;"
   providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="bccEmail" value="sysreturn@unbeatablesale.com"/>
    <add key="bccEmail2" value="joelr@unbeatablesale.com"/>
    <add key="ccEmail" value="joelr@unbeatablesale.com"/>
    <add key="EmailFrom" value="return@unbeatablesale.com"/>
    <add key="EmailTo" value="irubin@unbeatablesale.com"/>
    <add key="StoneEdgeRefundPath" value="C:\StoneEdge\OrderNumber.txt"/>
    <add key="StoneEdgeRefundPath" value="C:\StoneEdge\OrderNumber.txt"/>
    <add key="SEOrderNumber" value="C:\StoneEdge\SEOrderNumber.Txt"/>
    <add key="ProductEditorPath" value="C:\StoneEdge\Sku.txt"/>
    <add key="ManualEmails" value="C:\ManualEmails\"/>
    <add key="Errors" value="C:\CreditReturnErrors\"/>
    <add key="MaxNoticeNumber" value="4"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="noreply@unbeatablesale.com">
        <!--<network host="opmx1.unbeatablesale.biz" port="25" userName="mailer@pmx1.unbeatablesale.biz" password="m8ilm8n" defaultCredentials="false"/>-->
        <network host="ubssmtp-01" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>